---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#000000] via-[#000000] to-[#ccc] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Yongzhi Huang
      </span>
    </h1>
    <p class="text-2xl pb-4">Software Engineer/Leader. Entrepreneur. Equity Insurance Trader. Founder of <a href="http://youtube.com/pentacode">Pentacode</a> and <a href="https://tradeiv.com">TradeIV</a></p>
  </div>

  <div class="mb-5">
    <img src="images/profile.png" />
  </div>
  <div>
    <p class="mb-5">
      As an engineer, I am deeply passionate about my work. I enjoy staying up-to-date with the latest trends and technologies in the field by reading engineering articles and tutorials in my spare time. Writing clean, well-documented, and maintainable code is something that I take very seriously.
    </p>

    <p class="mb-5">
      I thrive in collaborative environments where I can work with like-minded individuals to create amazing products. I believe that the best outcomes are achieved through teamwork and effective communication across teams.
    </p>

    <p class="mb-5">
      When I'm not immersed in technology, I enjoy reading about finance and indulging in my hobbies of poker, billiards, gardening and taking care of my beautiful pet betta fish - Lotus.
    </p>
  </div>
</section>
